.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sidebar-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-border);
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: var(--color-sidebar);
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-ring);
}

.sidebar-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-sidebar-border) var(--color-sidebar);
}